.microsoftYaHeiLight {
    font-family: "Microsoft JhengHei Light", sans-serif;
    font-weight: normal;
    font-style: normal;
}
.microsoftYaHeiLight-bold {
    font-family: "Microsoft JhengHei Light", sans-serif;
    font-weight: bold;
    font-style: normal;
}
.microsoftYaHeiLight-italic {
    font-family: "Microsoft JhengHei Light", sans-serif;
    font-weight: normal;
    font-style: italic;
}
.microsoftYaHeiLight-italic-bold {
    font-family: "Microsoft JhengHei Light", sans-serif;
    font-weight: bold;
    font-style: italic;
}